
<!-- Links to : display my posts + add new posts -->
<p class='useful-links'> 
    <a href="{% url 'blog:post_list' %}" class="btn btn-outline-primary btn-bg my-2"> Main </a> 
    {% if user.is_authenticated %}
    <a href="{% url 'blog:my_posts' %}" class="btn btn-outline-primary btn-bg my-2"> My Posts </a> 
    <a href="{% url 'blog:my_bookmarked_posts' %}" class="btn btn-outline-primary btn-bg my-2"> My Bookmarked Posts </a> 
    <a href="{% url 'blog:my_archived_posts' %}" class="btn btn-outline-primary btn-bg my-2"> My Archived Posts </a> 
    <a href="{% url 'blog:post_add' %}" class="btn btn-outline-primary btn-bg my-2"> Add New Post </a> 
    {% endif %}
</p>

<!-- Some styles to make those links in the middle -->
<style>
    p.useful-links {
        text-align: center;
    }
</style>
